
<div class="flex items-center justify-center min-h-screen p-6 bg-gray-100">
    <div class="w-full max-w-2xl bg-white p-8 rounded-lg shadow-md">
<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center text-[#0D9488]">Connexion</h2>
  
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
      <input id="email" formControlName="email" type="email" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-[#0D9488] focus:border-[#0D9488] sm:text-sm" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email est requis.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Email invalide.</small>
      </div>
    </div>
  
    <div class="mb-6">
      <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe:</label>
      <input id="password" formControlName="password" type="password" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-[#0D9488] focus:border-[#0D9488] sm:text-sm" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Mot de passe est requis.</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="loginForm.invalid" class="w-full bg-[#0D9488] text-white py-2 px-4 rounded-md shadow-sm hover:bg-[#0B6D5D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#0D9488] disabled:opacity-50">
      Connexion
    </button>
  
    <div *ngIf="errorMessage" class="text-red-500 text-center mt-4">
      {{ errorMessage }}
    </div>
  </form>
  </div></div>
  