<!-- Navigation -->
<nav class="bg-[#0D9488] p-4 relative">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <!-- Logo / Covoiturage -->
    <div class="text-white text-lg font-bold">
      COCOVOIT
    </div>
    
    <!-- Menu Button for Mobile View -->
    <button id="menu-button" class="lg:hidden text-white focus:outline-none" (click)="toggleMenu()">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    
    <!-- Menu des liens -->
    <ul id="desktop-menu" class="hidden lg:flex lg:space-x-4">
      <li><a [routerLink]="'/home'" routerLinkActive="active" aria-current="page" class="text-white hover:underline">Accueil</a></li>
      <li><a [routerLink]="'/search'" routerLinkActive="active" aria-current="page" class="text-white hover:underline">Recherche</a></li>
      <li><a [routerLink]="'/add-trip'" routerLinkActive="active" aria-current="page" class="text-white hover:underline">Proposer un trajet</a></li>
      <li><a [routerLink]="'/contact'" routerLinkActive="active" aria-current="page" class="text-white hover:underline">Contact</a></li>
      <li *ngIf="isLoggedIn2" class="text-white hover:underline">
        <a [routerLink]="'/my-trips'">Mes Trajets</a>
      </li>
      <li *ngIf="isLoggedIn2" class="text-white hover:underline">
        <a [routerLink]="['/profile', userId]">Profil</a>
      </li>
      <li *ngIf="isLoggedIn2" class="text-white hover:underline">
        <a href="#" (click)="handleLogout()">Logout</a>
      </li>
      <li *ngIf="!isLoggedIn2" class="text-white hover:underline">
        <a [routerLink]="'/login'">Login</a>
      </li>
      <li *ngIf="!isLoggedIn2" class="text-white hover:underline">
        <a [routerLink]="'/register'">Register</a>
      </li>
    </ul>
    
    <!-- Mobile Menu -->
    <ul id="mobile-menu" class="lg:hidden fixed top-16 right-0 bg-[#0D9488] text-white p-4 space-y-2 rounded-lg shadow-lg transform translate-x-full transition-transform duration-300">
      <li><a [routerLink]="'/home'" routerLinkActive="active" aria-current="page" class="hover:underline">Accueil</a></li>
      <li><a [routerLink]="'/search'" routerLinkActive="active" aria-current="page" class="hover:underline">Recherche</a></li>
      <li><a [routerLink]="'/add-trip'" routerLinkActive="active" aria-current="page" class="hover:underline">Proposer un trajet</a></li>
      <li><a [routerLink]="'/contact'" routerLinkActive="active" aria-current="page" class="hover:underline">Contact</a></li>
      <li *ngIf="isLoggedIn2">
        <a [routerLink]="'/my-trips'" class="hover:underline">Mes Trajets</a>
      </li>
      <li *ngIf="isLoggedIn2">
        <a [routerLink]="'/profile'" class="hover:underline">Profil</a>
      </li>
      <li *ngIf="isLoggedIn2">
        <a href="#" (click)="handleLogout()" class="hover:underline">Logout</a>
      </li>
      <li *ngIf="!isLoggedIn2">
        <a [routerLink]="'/login'" class="hover:underline">Login</a>
      </li>
      <li *ngIf="!isLoggedIn2">
        <a [routerLink]="'/register'" class="hover:underline">Register</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main Content -->
<main class="flex-grow">
  <router-outlet></router-outlet>
</main>
