<div class="bg-[#FEFCE8] flex flex-col items-center justify-center h-[35vh] text-center">
    <h1 class="text-4xl font-bold mb-4">Trouvez le trajet parfait</h1>
    <p class="text-lg mb-6">Partagez vos trajets, économisez de l'argent et rencontrez de nouvelles personnes.</p>
    <a [routerLink]="'/add-trip'" class="bg-[#0D9488] text-white text-xl font-bold py-3 px-6 rounded-lg hover:bg-[#0c8c80]">
      Commencez maintenant
    </a>
  </div>

  <app-search></app-search>
  <app-recent-trip></app-recent-trip>
  